.main-container {
    margin: 0%;
    padding: 0px;
}

#map {
    width: 80%;
    height: 100vh;
    margin-left: 20%;
}

.page-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #FBFCFE;
    margin-bottom: 10px;
}

.logo {
    margin-top: 20px;
    align-self: center;
    border-radius: 50%;
    border: 1px solid #DBEFFF;
}

.vehicles {
    overflow-y: scroll;
}


.vehicle-container {
    margin-top: 10px;
    background-color: #F7F8FC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DBEFFF;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.vehicle-name {
    margin-bottom: 0px;
    font-weight: 600;
    line-height: 1.8;
    font-style: normal;
}

.trip-card {
    background-color: white;
    padding: 15px;
    padding-bottom: 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 10px rgba(66, 80, 144, 0.2);
}

.trip-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.trip-id-container {
    padding: 0px;
    align-self: center;
}

.trip-id {
    font-weight: 600;
    color: black;
}

.onprogress-label {
    border-radius: 2px;
    padding: 0px 8px;
    background: #e9f8ff;
    color: #53b7e5;
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 18px;
    height: fit-content;
    transform: translateY(4px);
}

.completed-label {
    border-radius: 2px;
    padding: 0px 8px;
    background-color: #bbed7c;
    color: #6bb40e;
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 18px;
    height: fit-content;
    transform: translateY(4px);
}

a {
    color: black;
}

.panel-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 100%;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(66, 80, 144, 0.2);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background: #E5E5E5;
}

/* ----------------------------------*******************-------------------------------- */

.input-field {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    border: .1px solid green;
    border-radius: 3px;
    background: url(search-icon.svg) no-repeat scroll 7px 7px;
    padding-left:30px;
    box-shadow: 0px 5px 15px rgba(204, 204, 204, 0.15);
    border: 1px solid #DBEFFF;
    background-color: white;
}

h4 {
    font-family: Lato;
    font-style: normal;
}

.trip-details {
    color: black;
    font-size: 12px;
}

thead {
    align-self: center;
    text-align: center;
}

.items-list {
    padding-left: 0px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 20px;
    background-color:#F9FFFD;
    padding: 10px;
    border-radius: 10px;
}

ul div {
    display: inline-block;
    max-width: 170px;
}

ul img {
    max-width: 70px;
    vertical-align: top;
}

ul div {
    margin-left: 5px;
}

ul div h2 {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    color: #888888;
}

ul div p {
    margin: 0px;
    font-style: italic;
}