.directions li span.arrow {
    display:inline-block;
    min-width:28px;
    min-height:28px;
    background-position:0px;
    background-image: url("https://heremaps.github.io/maps-api-for-javascript-examples/map-with-route-from-a-to-b/img/arrows.png");
    position:relative;
    top:8px;
  }
  .directions li span.depart  {
    background-position:-28px;
  }
  .directions li span.rightturn  {
    background-position:-224px;
  }
  .directions li span.leftturn{
    background-position:-252px;
  }
  .directions li span.arrive  {
    background-position:-1288px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tablinks {
      color: rgb(95, 95, 95);
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 100%;
  }